@keyframes slideDown {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // transform: translateY(1);
  }

  to {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    // transform: translateY(0);
  }
}
